body {
  background-color: beige;
  text-align: center;
}

img {
  width: 500px;
}

nav {
  margin: 10px;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li a {
  text-decoration: none;
  float: center;
  padding: 20px;
  color: purple;
}
